:root{
    // backgrounds
    --primary: red;

    // texts
    --primaryText: #333;
    --secondaryText: #666;
    --disabledText: #999;

    // buttons
    --buttonText: #fff;

    // shadows
    --boxShadow: rgba(0, 0, 0, 0.1);

    // borders
    --borderBottom: #666;

}