:root{

    --primary: red;
    
    // backgrounds
    --app-bg: #f7f6f7;

    --primary-bg: #fff;

    --player-bg: rgba(255, 255, 255, 0.2);

    // texts
    --primaryText: #3e3e3e;
    --secondaryText: #a9a9a9;
    --disabledText: #999;

    // buttons
    --buttonText: #fff;

    // shadows
    --boxShadow: rgba(0, 0, 0, 0.1);

    // borders
    --inputBorder: rgba(153, 153, 153, 0.35);
    --borderBottom: #666;

    // toggle background
    --toggleBg: #d9d9d9;

    // input fields
    --inputBg: #fff;

    --blurBg: rgba(0, 0, 0, 0.7);
    
}

.dark{
    --app-bg: #000;
    
    --primary-bg: #333;
    
    --primaryText: #999;
    
    --inputBg: #333;

    --blurBg: rgba(5, 5, 5, 0.6);
}