.artists_page_container{
    padding-bottom: 3rem;

    .artists_list{
        margin-top: 1rem;

        li{
            margin: 0.5rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img{
                height: 70px;
                width: 70px;
                border-radius: 1rem;
            }
            .artist_info{
                font-weight: 600;
            }
            .follow-btn{
                cursor: pointer;
                color: var(--primary);
            }
        }
    }
}