.home_container{

    ul{
        list-style: none;
    }

    .lists{
        display: flex;
        overflow-x: scroll;
        margin-top: 1rem;

        // card list item
        .list_item{
            height: 200px;
            width: 200px;
            border-radius: 1rem;
            background: var(--primary-bg);
            margin-right: 1rem;

            img{
                max-width: 100%;
                border-radius: 1rem;
            }
        }

        // rounded list item
        .rounded{
            height: 120px;
            width: 120px;
            border-radius: 50%;
            
            img{
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }
        // Title of list item
        .title{
            font-weight: 600;
        }
        .card_details{
            display: grid;
            place-items: center;
            margin-top: 10px;
        }

        
        &::-webkit-scrollbar{
            display: none;
        }
    }


    .trending{
        .trending_lists{
            .song_details{
                .title{
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .album_name{
                    color: var(--secondaryText);
                }
            }
        }
    }

    .top_albums{
        margin-top: 1rem;
    }
    .artists{
        margin-top: 1rem;
    }
}