.login_container{
    .l_desc{
        margin-top: 5px;
        color: var(--secondaryText);
    }
    form{
        margin-top: 1.5rem;
    }
    button{
        margin-top: 10px;
    }
    p.forgot_password{
        margin-top: 1.5rem;
    }
    .no_accDiv{
        margin-top: 5px;
    }
}