.App{
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  font-size: 0.85rem;
  color: var(--primaryText);
  background: var(--app-bg);
  -webkit-tap-highlight-color: transparent;
}

.App a{
  color: var(--primaryText);
  text-decoration: none;
}

.msg_div.error{
  color: red;
}
